*{
    margin: 0%;
    padding: 0%;
    
     }
     
     body{
     background-color: #B5B6BB;   
    
    
    }
    
    
    a{
    text-decoration: none;
    color: inherit;
    
    
    }
    
    h1 {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: center;
        font-size: 4rem;
      }
      .opener{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        text-decoration:none;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    
    
    }

    #navbar{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        text-decoration:none;
    
    
        
    
        
    
        display: flex;
    justify-content: space-evenly; align-items: center;
    
    
    height: 8rem;
    background-color: #7AA36C;
     
    
    
    
    
    
    }
    img{
        height: 200px;
        width: 220px; 
       }
       #pastryselection1{
       display: flex;
       justify-content: space-evenly;
       
       }
       .rowone{
           font-family: "Pacifico", cursive;
           font-weight: 400;
           font-style: normal;
           font-size: 1.5rem;
           display: flex;
           justify-content: center;
           align-self:space-between;
       }
       .rowtwo{
           font-family: "Pacifico", cursive;
           font-weight: 400;
           font-style: normal;
           font-size: 1.5rem;
           display: flex;
           justify-content: center;
           align-self: space-between;
       }
       .rowthree{
           font-family: "Pacifico", cursive;
           font-weight: 400;
           font-style: normal;
           font-size: 1.5rem;
           display: flex;
       justify-content: center;
       align-self: space-between;
       
       
       
       }
       #one{
           max-width: 220px;
           text-wrap: pretty;
       }
       #two{
           max-width: 220px;
           text-wrap: pretty;
       }#three{
           max-width: 220px;
           text-wrap: pretty;
       }#four{
           max-width: 220px;
           text-wrap: pretty;
       }#five{
           max-width: 220px;
           text-wrap: pretty;
       }#six{
           max-width: 220px;
           text-wrap: pretty;
       }#seven{
           max-width: 220px;
           text-wrap: pretty;
       }#eight{
           max-width: 220px;
           text-wrap: pretty;
       }#nine{
           max-width: 220px;
           text-wrap: pretty;
       
       }
        

       .wrapper{
        display: flex;
        padding-top: 10px;
        justify-content: center;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        
          }
          .collapsible{
        max-width: 450px;
        overflow: hidden;
        font-size: 2rem;
        
        
          }
          .collapsible input{
            display: none;
          }
          
          .collapsible label{
        position: relative;
        background: #fff;
        box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
        
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 15px ;
        border-radius: 4px;
        font-size: 1.5rem;
        justify-content: start;
        z-index: 1;
        
          }
          .collapsible label:after{
        content: "";
        position: absolute;
        right:15px;
        top: 20px;
        width: 18px;
        height: 18px;
        background: url(arrow.jpg) no-repeat 0 0;
        transition: all 0.3s ease;
        
          }
          .collapsible input:checked + label:after{
         transform: rotate(90deg); }
             .collapsible-text{
        max-height: 1px;
        overflow: hidden;
        border-radius:4px ;
        line-height: 1.4;
        position: relative;
        top:-100% ;
        opacity: 0.5;
        transition: all 0.3s ease;
        
          }
          .collapsible input:checked ~ .collapsible-text{
            max-height: 300px;
            padding-bottom: 25px;
            background: #fff;
            box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
        opacity: 1;
        top: 0;
           }
           .collapsible-text h2{
            margin-bottom: 10px;
            padding: 15px 15px 0;
           font-size: 100%;
        
           }
           .collapsible-text p{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 70%;
           }
           
          
          
          
          
           .wrapper2{
            display: flex;
            padding-top: 10px;
            justify-content: center;
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
           }
            .collapsible2{
                max-width: 450px;
                overflow: hidden;
                font-size: 2rem;
            }
                
                  
                  .collapsible2 input{
                    display: none;
                  }
                  
                  .collapsible2 label{
                position: relative;
                background: #fff;
                box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                
                display: block;
                margin-bottom: 10px;
                cursor: pointer;
                padding: 15px ;
                border-radius: 4px;
                font-size: 1.5rem;
                justify-content: start;
                z-index: 1;
                
                  }
                  .collapsible2 label:after{
                content: "";
                position: absolute;
                right:15px;
                top: 20px;
                width: 18px;
                height: 18px;
                background: url(arrow.jpg) no-repeat 0 0;
                transition: all 0.3s ease;
                
                  }
                  .collapsible2 input:checked + label:after{
                 transform: rotate(90deg); }
                     .collapsible-text2{
                max-height: 1px;
                overflow: hidden;
                border-radius:4px ;
                line-height: 1.4;
                position: relative;
                top:-100% ;
                opacity: 0.5;
                transition: all 0.3s ease;
                
                  }
                  .collapsible2 input:checked ~ .collapsible-text2{
                    max-height: 300px;
                    padding-bottom: 25px;
                    background: #fff;
                    box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                opacity: 1;
                top: 0;
                   }
                   .collapsible-text2 h2{
                    margin-bottom: 10px;
                    padding: 15px 15px 0;
                    font-size: 100%;
                
                   }
                   .collapsible-text2 p{
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 70%;
                   }
    
    
    
    
    
                   .wrapper3{
                    display: flex;
                    padding-top: 10px;
                    justify-content: center;
                    font-family: "Pacifico", cursive;
                    font-weight: 400;
                    font-style: normal;
                   }
                    .collapsible3{
                        max-width: 450px;
                        overflow: hidden;
                        font-size: 2rem;
                    }
                        
                          
                          .collapsible3 input{
                            display: none;
                          }
                          
                          .collapsible3 label{
                        position: relative;
                        background: #fff;
                        box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                        
                        display: block;
                        margin-bottom: 10px;
                        cursor: pointer;
                        padding: 15px ;
                        border-radius: 4px;
                        font-size: 1.5rem;
                        justify-content: start;
                        z-index: 1;
                        
                          }
                          .collapsible3 label:after{
                        content: "";
                        position: absolute;
                        right:15px;
                        top: 20px;
                        width: 18px;
                        height: 18px;
                        background: url(arrow.jpg) no-repeat 0 0;
                        transition: all 0.3s ease;
                        
                          }
                          .collapsible3 input:checked + label:after{
                         transform: rotate(90deg); }
                             .collapsible-text3{
                        max-height: 1px;
                        overflow: hidden;
                        border-radius:4px ;
                        line-height: 1.4;
                        position: relative;
                        top:-100% ;
                        opacity: 0.5;
                        transition: all 0.3s ease;
                        
                          }
                          .collapsible3 input:checked ~ .collapsible-text3{
                            max-height: 300px;
                            padding-bottom: 25px;
                            background: #fff;
                            box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                        opacity: 1;
                        top: 0;
                           }
                           .collapsible-text3 h2{
                            margin-bottom: 10px;
                            padding: 15px 15px 0;
                            font-size: 100%;
                        
                           }
                           .collapsible-text3 p{
                            padding-left: 15px;
                            padding-right: 15px;
                            font-size: 70%;
                           }
                           .wrapper4{
                            display: flex;
                            padding-top: 10px;
                            justify-content: center;
                            font-family: "Pacifico", cursive;
                            font-weight: 400;
                            font-style: normal;
                           }
                            .collapsible4{
                                max-width: 450px;
                                overflow: hidden;
                                font-size: 2rem;
                            }
                                
                                  
                                  .collapsible4 input{
                                    display: none;
                                  }
                                  
                                  .collapsible4 label{
                                position: relative;
                                background: #fff;
                                box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                
                                display: block;
                                margin-bottom: 10px;
                                cursor: pointer;
                                padding: 15px ;
                                border-radius: 4px;
                                font-size: 1.5rem;
                                justify-content: start;
                                z-index: 1;
                                
                                  }
                                  .collapsible4 label:after{
                                content: "";
                                position: absolute;
                                right:15px;
                                top: 20px;
                                width: 18px;
                                height: 18px;
                                background: url(arrow.jpg) no-repeat 0 0;
                                transition: all 0.3s ease;
                                
                                  }
                                  .collapsible4 input:checked + label:after{
                                 transform: rotate(90deg); }
                                     .collapsible-text4{
                                max-height: 1px;
                                overflow: hidden;
                                border-radius:4px ;
                                line-height: 1.4;
                                position: relative;
                                top:-100% ;
                                opacity: 0.5;
                                transition: all 0.3s ease;
                                
                                  }
                                  .collapsible4 input:checked ~ .collapsible-text4{
                                    max-height: 300px;
                                    padding-bottom: 25px;
                                    background: #fff;
                                    box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                opacity: 1;
                                top: 0;
                                   }
                                   .collapsible-text4 h2{
                                    margin-bottom: 10px;
                                    padding: 15px 15px 0;
                                    font-size: 100%;
                                
                                   }
                                   .collapsible-text4 p{
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    font-size: 70%;
                                   }.wrapper5{
                                    display: flex;
                                    padding-top: 10px;
                                    justify-content: center;
                                    font-family: "Pacifico", cursive;
                                    font-weight: 400;
                                    font-style: normal;
                                   }
                                    .collapsible5{
                                        max-width: 450px;
                                        overflow: hidden;
                                        font-size: 2rem;
                                    }
                                        
                                          
                                          .collapsible5 input{
                                            display: none;
                                          }
                                          
                                          .collapsible5 label{
                                        position: relative;
                                        background: #fff;
                                        box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                        
                                        display: block;
                                        margin-bottom: 10px;
                                        cursor: pointer;
                                        padding: 15px ;
                                        border-radius: 4px;
                                        font-size: 1.5rem;
                                        justify-content: start;
                                        z-index: 1;
                                        
                                          }
                                          .collapsible5 label:after{
                                        content: "";
                                        position: absolute;
                                        right:15px;
                                        top: 20px;
                                        width: 18px;
                                        height: 18px;
                                        background: url(arrow.jpg) no-repeat 0 0;
                                        transition: all 0.3s ease;
                                        
                                          }
                                          .collapsible5 input:checked + label:after{
                                         transform: rotate(90deg); }
                                             .collapsible-text5{
                                        max-height: 1px;
                                        overflow: hidden;
                                        border-radius:4px ;
                                        line-height: 1.4;
                                        position: relative;
                                        top:-100% ;
                                        opacity: 0.5;
                                        transition: all 0.3s ease;
                                        
                                          }
                                          .collapsible5 input:checked ~ .collapsible-text5{
                                            max-height: 300px;
                                            padding-bottom: 25px;
                                            background: #fff;
                                            box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                        opacity: 1;
                                        top: 0;
                                           }
                                           .collapsible-text5 h2{
                                            margin-bottom: 10px;
                                            padding: 15px 15px 0;
                                            font-size: 100%;
                                        
                                           }
                                           .collapsible-text5 p{
                                            padding-left: 15px;
                                            padding-right: 15px;
                                            font-size: 70%;
                                           }.wrapper6{
                                            display: flex;
                                            padding-top: 10px;
                                            justify-content: center;
                                            font-family: "Pacifico", cursive;
                                            font-weight: 400;
                                            font-style: normal;
                                           }
                                            .collapsible6{
                                                max-width: 450px;
                                                overflow: hidden;
                                                font-size: 2rem;
                                            }
                                                
                                                  
                                                  .collapsible6 input{
                                                    display: none;
                                                  }
                                                  
                                                  .collapsible6 label{
                                                position: relative;
                                                background: #fff;
                                                box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                
                                                display: block;
                                                margin-bottom: 10px;
                                                cursor: pointer;
                                                padding: 15px ;
                                                border-radius: 4px;
                                                font-size: 1.5rem;
                                                justify-content: start;
                                                z-index: 1;
                                                
                                                  }
                                                  .collapsible6 label:after{
                                                content: "";
                                                position: absolute;
                                                right:15px;
                                                top: 20px;
                                                width: 18px;
                                                height: 18px;
                                                background: url(arrow.jpg) no-repeat 0 0;
                                                transition: all 0.3s ease;
                                                
                                                  }
                                                  .collapsible6 input:checked + label:after{
                                                 transform: rotate(90deg); }
                                                     .collapsible-text6{
                                                max-height: 1px;
                                                overflow: hidden;
                                                border-radius:4px ;
                                                line-height: 1.4;
                                                position: relative;
                                                top:-100% ;
                                                opacity: 0.5;
                                                transition: all 0.3s ease;
                                                
                                                  }
                                                  .collapsible6 input:checked ~ .collapsible-text6{
                                                    max-height: 300px;
                                                    padding-bottom: 25px;
                                                    background: #fff;
                                                    box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                opacity: 1;
                                                top: 0;
                                                   }
                                                   .collapsible-text6 h2{
                                                    margin-bottom: 10px;
                                                    padding: 15px 15px 0;
                                                    font-size: 100%;
                                                
                                                   }
                                                   .collapsible-text6 p{
                                                    padding-left: 15px;
                                                    padding-right: 15px;
                                                    font-size: 70%;
                                                   }
                                                   .wrapper7{
                                                    display: flex;
                                                    padding-top: 10px;
                                                    justify-content: center;
                                                    font-family: "Pacifico", cursive;
                                                    font-weight: 400;
                                                    font-style: normal;
                                                   }
                                                    .collapsible7{
                                                        max-width: 450px;
                                                        overflow: hidden;
                                                        font-size: 2rem;
                                                    }
                                                        
                                                          
                                                          .collapsible7 input{
                                                            display: none;
                                                          }
                                                          
                                                          .collapsible7 label{
                                                        position: relative;
                                                        background: #fff;
                                                        box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                        
                                                        display: block;
                                                        margin-bottom: 10px;
                                                        cursor: pointer;
                                                        padding: 15px ;
                                                        border-radius: 4px;
                                                        font-size: 1.5rem;
                                                        justify-content: start;
                                                        z-index: 1;
                                                        
                                                          }
                                                          .collapsible7 label:after{
                                                        content: "";
                                                        position: absolute;
                                                        right:15px;
                                                        top: 20px;
                                                        width: 18px;
                                                        height: 18px;
                                                        background: url(arrow.jpg) no-repeat 0 0;
                                                        transition: all 0.3s ease;
                                                        
                                                          }
                                                          .collapsible7 input:checked + label:after{
                                                         transform: rotate(90deg); }
                                                             .collapsible-text7{
                                                        max-height: 1px;
                                                        overflow: hidden;
                                                        border-radius:4px ;
                                                        line-height: 1.4;
                                                        position: relative;
                                                        top:-100% ;
                                                        opacity: 0.5;
                                                        transition: all 0.3s ease;
                                                        
                                                          }
                                                          .collapsible7 input:checked ~ .collapsible-text7{
                                                            max-height: 300px;
                                                            padding-bottom: 25px;
                                                            background: #fff;
                                                            box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                        opacity: 1;
                                                        top: 0;
                                                           }
                                                           .collapsible-text7 h2{
                                                            margin-bottom: 10px;
                                                            padding: 15px 15px 0;
                                                            font-size: 100%;
                                                        
                                                           }
                                                           .collapsible-text7 p{
                                                            padding-left: 15px;
                                                            padding-right: 15px;
                                                            font-size: 70%;
                                                           }
                                                           
                                                           .wrapper8{
                                                            display: flex;
                                                            padding-top: 10px;
                                                            justify-content: center;
                                                            font-family: "Pacifico", cursive;
                                                            font-weight: 400;
                                                            font-style: normal;
                                                           }
                                                            .collapsible8{
                                                                max-width: 450px;
                                                                overflow: hidden;
                                                                font-size: 2rem;
                                                            }
                                                                
                                                                  
                                                                  .collapsible8 input{
                                                                    display: none;
                                                                  }
                                                                  
                                                                  .collapsible8 label{
                                                                position: relative;
                                                                background: #fff;
                                                                box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                                
                                                                display: block;
                                                                margin-bottom: 10px;
                                                                cursor: pointer;
                                                                padding: 15px ;
                                                                border-radius: 4px;
                                                                font-size: 1.5rem;
                                                                justify-content: start;
                                                                z-index: 1;
                                                                
                                                                  }
                                                                  .collapsible8 label:after{
                                                                content: "";
                                                                position: absolute;
                                                                right:15px;
                                                                top: 20px;
                                                                width: 18px;
                                                                height: 18px;
                                                                background: url(arrow.jpg) no-repeat 0 0;
                                                                transition: all 0.3s ease;
                                                                
                                                                  }
                                                                  .collapsible8 input:checked + label:after{
                                                                 transform: rotate(90deg); }
                                                                     .collapsible-text8{
                                                                max-height: 1px;
                                                                overflow: hidden;
                                                                border-radius:4px ;
                                                                line-height: 1.4;
                                                                position: relative;
                                                                top:-100% ;
                                                                opacity: 0.5;
                                                                transition: all 0.3s ease;
                                                                
                                                                  }
                                                                  .collapsible8 input:checked ~ .collapsible-text8{
                                                                    max-height: 300px;
                                                                    padding-bottom: 25px;
                                                                    background: #fff;
                                                                    box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                                opacity: 1;
                                                                top: 0;
                                                                   }
                                                                   .collapsible-text8 h2{
                                                                    margin-bottom: 10px;
                                                                    padding: 15px 15px 0;
                                                                    font-size: 100%;
                                                                
                                                                   }
                                                                   .collapsible-text8 p{
                                                                    padding-left: 15px;
                                                                    padding-right: 15px;
                                                                    font-size: 70%;
                                                                   }
                                                                   
                                                                   .wrapper9{
                                                                    display: flex;
                                                                    padding-top: 10px;
                                                                    justify-content: center;
                                                                    font-family: "Pacifico", cursive;
                                                                    font-weight: 400;
                                                                    font-style: normal;
                                                                   }
                                                                    .collapsible9{
                                                                        max-width: 450px;
                                                                        overflow: hidden;
                                                                        font-size: 2rem;
                                                                    }
                                                                        
                                                                          
                                                                          .collapsible9 input{
                                                                            display: none;
                                                                          }
                                                                          
                                                                          .collapsible9 label{
                                                                        position: relative;
                                                                        background: #fff;
                                                                        box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                                        
                                                                        display: block;
                                                                        margin-bottom: 10px;
                                                                        cursor: pointer;
                                                                        padding: 15px ;
                                                                        border-radius: 4px;
                                                                        font-size: 1.5rem;
                                                                        justify-content: start;
                                                                        z-index: 1;
                                                                        
                                                                          }
                                                                          .collapsible9 label:after{
                                                                        content: "";
                                                                        position: absolute;
                                                                        right:15px;
                                                                        top: 20px;
                                                                        width: 18px;
                                                                        height: 18px;
                                                                        background: url(arrow.jpg) no-repeat 0 0;
                                                                        transition: all 0.3s ease;
                                                                        
                                                                          }
                                                                          .collapsible9 input:checked + label:after{
                                                                         transform: rotate(90deg); }
                                                                             .collapsible-text9{
                                                                        max-height: 1px;
                                                                        overflow: hidden;
                                                                        border-radius:4px ;
                                                                        line-height: 1.4;
                                                                        position: relative;
                                                                        top:-100% ;
                                                                        opacity: 0.5;
                                                                        transition: all 0.3s ease;
                                                                        
                                                                          }
                                                                          .collapsible9 input:checked ~ .collapsible-text9{
                                                                            max-height: 300px;
                                                                            padding-bottom: 25px;
                                                                            background: #fff;
                                                                            box-shadow: 0 5px 11px 0  rgba( 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
                                                                        opacity: 1;
                                                                        top: 0;
                                                                           }
                                                                           .collapsible-text9 h2{
                                                                            margin-bottom: 10px;
                                                                            padding: 15px 15px 0;
                                                                            font-size: 100%;
                                                                        
                                                                           }
                                                                           .collapsible-text9 p{
                                                                            padding-left: 15px;
                                                                            padding-right: 15px;
                                                                            font-size: 70%;
                                                                           }